/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
}

.button {
  display: flex;
}

img {
  width: 100%
}

.border {
  border: solid;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-content: center;
  margin: 8px;
  padding: 8px;
}
.box {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: gray;
  border: solid;
  flex: 1;
  padding: 10px;
  margin: 10px;
}
.no-border-box {
  display: flex;
  justify-content: center;
  text-align: center;

}

@media all and (min-width: 800px){
  .container {
    margin: 20px;
    padding: 20px;
  }
  .box {
    margin-left: 30%;
    margin-right: 30%;
  }
  img {
    max-width: 300px;
    padding: 20px;
    margin: 20px;
  }
  


}